.tasks {
    display: flex;
    flex-direction: column;
    width: 325px;
}

.tasks__header {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.task {
    background-color: beige;
    border: 1px dotted burlywood;
    padding: .7rem;
    margin: .5rem 0;
}

.task__header {
    display: flex;
    font-size: 1.1em;
    padding-bottom: 5px;
}

.task__checkbox {
    margin-right: 5px;
}

.task__description {
    display: inline;
    font-weight: 600;
}

.task__description:hover {
    color: orangered;
 }

.task__date {
    margin-left: 3px;
}

.task__edit {
    width: 150%;
}

.tasks__new--button {
    height: 1.75rem;
    width: 100px;
}