.tasks {
    display: flex;
    flex-direction: column;
}

.tasks__header {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.task {
    background-color: beige;
    border: 1px dotted burlywood;
    padding: .7rem;
    margin: .5rem 0;
}

.task__description {
    font-size: 1.1em;
    font-weight: 600;
}

.tasks__new--button {
    width: 30%;
    height: 1.75rem;
}

.task__delete--button {
    margin-top: .3rem;
    background-color: rgb(175, 49, 49);
    color: bisque;
}